<!DOCTYPE html>
<html>
	<head>
	   <meta charset="UTF-8">
	   <title>Insert title here</title>
	
	   <!-- Bootstrap core CSS -->
	   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
	   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	    
	</head>
	<body>
	   <div class="container">
	           <br/>
		       <h2>The Rick and Morty</h2>
		       
		       
		      <div class="row d-flex justify-content-end" >
	             <div class="col-md-4 "> 
			      <form action="/personajes/listarPersonajesFiltro" method="get">
			        <div class="input-group "> 
			           <label for="txtNombreFiltro">Nombre: </label>
			           <input type="text" id="txtNombreFiltro" name="nombreFiltro" class="form-control form-control-sm" th:value="${nombreFiltro}"/>
			           <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
			        </div>   
			      </form>
		         </div>
		      </div>
		      <br/>
		    
		      <div th:if="${msjError!=null}">
		          <div class="card mb-3" style="max-width: 700px;">
					 <div class="row g-0">						   
						<div class="col-md-8">
							<div class="card-body">
								 <h5 class="card-title">No hay nada que mostrar</h5> 
							</div>
						</div>
					</div>
				</div>
		      </div>
		      <div th:if="${msjError==null}">
				      <div th:if="${nombreFiltro==null || nombreFiltro==''}" class="d-flex gap-3 justify-content-end">
				          P&aacute;gina<spam th:text="${numPagina}"></spam>de<spam th:text="${paginas}"></spam>
				         <span th:if="${numPagina > 1}"> <a href="#" th:href="@{/personajes/listarPersonajes?numPag=__${numPagina-1}__}" class="btn btn-primary"> Anterior</a> </span>
				         <span th:if="${paginas > 1 && numPagina < paginas}"> <a href="#" th:href="@{/personajes/listarPersonajes?numPag=__${numPagina+1}__}" class="btn btn-primary"> Siguiente</a> </span>
				      </div>
				      <div th:if="${nombreFiltro!=null && nombreFiltro!=''}" class="d-flex gap-3 justify-content-end">
				          P&aacute;gina<spam th:text="${numPagina}"></spam>de<spam th:text="${paginas}"></spam>
				         <span th:if="${numPagina > 1}"> <a href="#" th:href="@{/personajes/listarPersonajesFiltro?numPag=__${numPagina-1}__&nombreFiltro=__${nombreFiltro}__}" class="btn btn-primary"> Anterior</a> </span>
				         <span th:if="${paginas > 1 && numPagina < paginas}"> <a href="#" th:href="@{/personajes/listarPersonajesFiltro?numPag=__${numPagina+1}__&nombreFiltro=__${nombreFiltro}__}" class="btn btn-primary"> Siguiente</a> </span>
				      </div>
				      
				       <br/>	
			       			
						<div class="row">
					        <!-- th:each itera sobre la lista 'items' -->
					        <div class="col-sm-12 col-md-6 mb-4" th:each="personaje: ${personajes}">
					            <div class="card mb-3" style="max-width: 700px;">
								  <div class="row g-0">
								    <div class="col-md-4">
								      <img th:src="@{${personaje.imagen}}" class="img-fluid rounded-start" alt="Imagen">
								    </div>
								    <div class="col-md-8">
								      <div class="card-body">
								        <h5 class="card-title" th:text="${personaje.nombre}">Nombre</h5>
								        <p class="card-text" th:text="${personaje.especie}">Especie</p>
								       
								      </div>
								    </div>
								  </div>
								</div>
					        </div>
		    			</div>
		        </div>			
		    			
	   </div>
	   
	</body>
</html>